@model IEnumerable<SplitTheBill.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="font-weight-bold" style="font-size:400%">TO DO LIST</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style=" width:65%">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="width:35%">
                @Html.ActionLink("Done", "Done", new { id = item.TaskId }, new{ @class = "btn btn-outline-success"})
                @Html.ActionLink("Edit", "Edit", new { id=item.TaskId}, new{ @class = "btn btn-outline-warning"})
                @Html.ActionLink("Details", "Details", new { id=item.TaskId }, new{ @class = "btn btn-outline-info"})
                @Html.ActionLink("Delete", "Delete", new {id=item.TaskId}, new{ @class = "btn btn-outline-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-outline-primary" asp-action="Create">Add New Task</a>
</p>
